{% if currentUser is not defined or currentUser.isAnonymous() %}
    You are not logged in.
    Login via <a href="{{ url('harbourmaster.login_page') }}">{{ 'HMS'|t }}</a> or <a href="{{ url('user.login') }}">{{ 'Drupal'|t }}</a>.
{% else %}
    {% if 'harbourmaster_user' in currentUserRoles and harbourmasterUserKey is defined %}
        You are logged in via HMS. <a href="{{ url('user.logout') }}">{{ 'Logout'|t }}</a> <!-- or <a href="{{ url('user.login') }}">{{ 'Login via Drupal'|t }}</a> -->.
    {% else %}
        You are logged in via Drupal. <a href="{{ url('user.logout') }}">{{ 'Logout'|t }}</a>.
    {% endif %}
{% endif %}